.frame-7 .fubao-background {
  background: url('../assets/images/fubao_background.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: -7px;
  top: 0px;
  width: 1451px;
  height: 1024px;
}
.frame-7 .fubao-full {
  opacity: 0.6;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #FFFFFF;
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Kdam Thmor', 'Roboto Condensed';
  font-weight: 400;
  font-size: 400px;
  color: #FFFFFF;
}
.frame-7 .fu-31 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/fu_31.png') 50% / cover no-repeat;
  width: 110px;
  height: 122px;
}
.frame-7 .home {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  margin-right: 14.5px;
  width: 116.5px;
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-7 .about {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-7 .gallery {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-7 .online {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-7 .header-1 {
  margin: 47px 0 46px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 481.2px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-7 .header {
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 74.8px 0 46px;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-7 .group-1 {
  margin-bottom: 238px;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
.frame-7 .fubao-frame {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 3px solid #FFFFFF;
  margin: 0 2px 55px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
}
.frame-7 .origin {
  overflow-wrap: break-word;
  font-family: 'Clash Grotesk', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
.frame-7 .frame-5 {
  border: 1px solid #000000;
  margin: 0 41px 15px 41px;
  display: flex;
  align-self: flex-start;
  padding: 4px 14.7px 6px 8.5px;
  box-sizing: border-box;
}
.frame-7 .fu-bao-was-born-on-july-202020-at-everland-in-yongin-city-south-korea-her-mother-is-ai-bao-and-her-father-is-le-bao {
  margin: 0 41px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.frame-7 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-7 .vector {
  width: 18.5px;
  height: 14.7px;
}
.frame-7 .group {
  transform: rotate(88.77deg);
  display: flex;
  width: 18.5px;
  height: 14.7px;
  box-sizing: border-box;
}
.frame-7 .mingcutearrow-up-fill {
  position: absolute;
  left: 14.8px;
  top: 16.6px;
  display: flex;
  width: 18.5px;
  height: 14.7px;
  box-sizing: border-box;
}
.frame-7 .frame-6 {
  border-radius: 24px;
  background: #000000;
  position: relative;
  margin: 3px 20px 0 0;
  width: 48px;
  height: 48px;
}
.frame-7 .container {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
}
.frame-7 .frame-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 2px solid #000000;
  background: #000000;
  display: flex;
  padding: 10px 34.1px 10px 33.5px;
  box-sizing: border-box;
}
.frame-7 .book-now {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  box-sizing: border-box;
}
.frame-7 .frame-1 {
  position: absolute;
  left: 104px;
  top: 354px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.frame-7 .container-1 {
  background: url('../assets/images/fubao.png') 50% / cover no-repeat;
  position: absolute;
  left: -63px;
  top: -4px;
  display: flex;
  padding: 21px 61px 29px 63px;
  height: 1028px;
  box-sizing: border-box;
}
.frame-7 {
  background: #FFFFFF;
  display: flex;
  padding: 377px 0 178px 0;
  width: 1440px;
  box-sizing: border-box;
}
