.frame-1 .fu-31 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/fu_31.png') 50% / cover no-repeat;
  width: 110px;
  height: 122px;
}
.frame-1 .home {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  margin-right: 14.5px;
  width: 145.5px;
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-1 .about {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-1 .gallery {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-1 .online {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-1 .container-16 {
  margin: 47px 0 46px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 568.2px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .header {
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 23px;
  width: 1728px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-1 .frame-2 {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(117, 189, 115, 0.4);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  padding: 16px 0 24px 10px;
  width: 1440px;
  box-sizing: border-box;
}
.frame-1 .about-1 {
  margin: 0 79px 41px 79px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 600;
  font-size: 48px;
  color: #000000;
}
.frame-1 .line-1 {
  background: rgba(117, 189, 115, 0.4);
  position: absolute;
  top: 92px;
  right: 0px;
  width: 970px;
  height: 3px;
}
.frame-1 .container {
  margin-right: 75.5px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 600;
  font-size: 52px;
  color: #000000;
}
.frame-1 .fubao-2 {
  margin: 7px 31.2px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-1 {
  margin: 8px 0 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-12 {
  margin: 0 0 6px 56px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .fu-151 {
  border-radius: 20px;
  background: url('../assets/images/fu_151.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-right: 46px;
  width: 320px;
  height: 350px;
}
.frame-1 .container-6 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-2 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-3 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-4 {
  margin: 0 34.3px 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-5 {
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-19 {
  margin: 59px 0 8px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .container-17 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .container-8 {
  margin: 0 0 22px 76.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-9 {
  margin: 0 0 22px 15.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-7 {
  margin-left: 143.1px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1 .fubao-3 {
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: -7px;
  display: flex;
  padding-right: 60px;
  height: 614px;
  box-sizing: border-box;
}
.frame-1 .line-11 {
  background: rgba(117, 189, 115, 0.4);
  position: absolute;
  top: 92px;
  right: 0px;
  width: 970px;
  height: 3px;
}
.frame-1 .container-10 {
  margin-right: 27.6px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 600;
  font-size: 52px;
  color: #000000;
}
.frame-1 .aibao-2 {
  margin: 10px 38.6px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-19 {
  margin: 11px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-3 {
  margin: 0 0 6px 90.3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .ai-131 {
  border-radius: 20px;
  background: url('../assets/images/ai_131.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-right: 46px;
  width: 320px;
  height: 350px;
}
.frame-1 .container-12 {
  margin-bottom: 21px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-11 {
  margin-bottom: 21px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-13 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-14 {
  margin-bottom: 21px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-15 {
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-11 {
  margin: 59px 0 11px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .container-10 {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .container-16 {
  margin: 0 0 22px 111.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-17 {
  margin: 0 168.3px 21px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-18 {
  margin-left: 14.6px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1 .aibao-3 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -685px;
  translate: -50% 0;
  display: flex;
  padding: 0 87.3px 0 71px;
  height: 686px;
  box-sizing: border-box;
}
.frame-1 .line-12 {
  background: rgba(117, 189, 115, 0.4);
  position: absolute;
  top: 88px;
  right: 0px;
  width: 970px;
  height: 3px;
}
.frame-1 .container-20 {
  margin-right: 72.5px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 600;
  font-size: 52px;
  color: #000000;
}
.frame-1 .lebao-3 {
  margin: 6px 34.8px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-29 {
  margin: 7px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-5 {
  margin: 0 0 2px 91.3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .le-21 {
  border-radius: 20px;
  background: url('../assets/images/le_21.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-right: 46px;
  width: 320px;
  height: 350px;
}
.frame-1 .container-22 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-21 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-23 {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-24 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-25 {
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-7 {
  margin: 62px 0 4px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .container-18 {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .container-26 {
  margin: 0 0 23px 94.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-27 {
  margin: 0 68.1px 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-28 {
  margin-left: 14.6px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1 .lebao-2 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -1371px;
  translate: -50% 0;
  display: flex;
  padding: 0 87.3px 0 71px;
  height: 686px;
  box-sizing: border-box;
}
.frame-1 .ruibao-3 {
  margin-right: 20.9px;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-39 {
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-4 {
  margin: 0 0 66px 291px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .container-32 {
  margin: 0 235.3px 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-31 {
  margin: 0 367.9px 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-33 {
  margin: 0 380.7px 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-34 {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-35 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-36 {
  margin: 0 0 23px 165.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-37 {
  margin: 0 241.7px 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-38 {
  margin-left: 137.2px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-9 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 87.3px 74px 87.3px;
  box-sizing: border-box;
}
.frame-1 .line-13 {
  background: rgba(117, 189, 115, 0.4);
  position: absolute;
  top: 85px;
  right: 0px;
  width: 970px;
  height: 3px;
}
.frame-1 .ru-11 {
  border-radius: 20px;
  background: url('../assets/images/ru_11.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 71px;
  top: 82px;
  width: 320px;
  height: 350px;
}
.frame-1 .container-30 {
  position: absolute;
  left: 496px;
  top: 5px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 600;
  font-size: 52px;
  color: #000000;
}
.frame-1 .ruibao-2 {
  position: absolute;
  right: -5px;
  bottom: -2057px;
  padding-right: 5px;
  height: 686px;
  box-sizing: border-box;
}
.frame-1 .line-14 {
  background: rgba(117, 189, 115, 0.4);
  position: absolute;
  top: 83px;
  right: 0px;
  width: 970px;
  height: 3px;
}
.frame-1 .container-44 {
  margin-right: 24.6px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 600;
  font-size: 52px;
  color: #000000;
}
.frame-1 .huibao-3 {
  margin: 7px 19.3px 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-49 {
  margin: 7px 0 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khand';
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}
.frame-1 .container-8 {
  margin-left: 91.3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .hu-11 {
  border-radius: 20px;
  background: url('../assets/images/hu_11.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-right: 46px;
  width: 320px;
  height: 350px;
}
.frame-1 .container-41 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-40 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-42 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-43 {
  margin-bottom: 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-45 {
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-14 {
  margin: 61px 0 6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .container-2 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.frame-1 .container-46 {
  margin: 0 0 22px 209.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-47 {
  margin: 0 225.4px 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container-48 {
  margin-left: 171px;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.frame-1 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.frame-1 .huibao-2 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -2743px;
  translate: -50% 0;
  display: flex;
  padding: 0 87.3px 0 71px;
  height: 686px;
  box-sizing: border-box;
}
.frame-1 .frame-4 {
  position: relative;
  margin-right: 100px;
  width: 1340px;
  height: 686px;
}
.frame-1 .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-1 .rectangle-2 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -95px;
  height: 955px;
}
.frame-1 .huibao-1 {
  overflow-wrap: break-word;
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.frame-1 .group-6 {
  background: rgba(117, 189, 115, 0.2);
  position: absolute;
  right: -1px;
  bottom: 0px;
  display: flex;
  padding-right: 2.8px;
  width: 101px;
  height: 173.7px;
  box-sizing: border-box;
}
.frame-1 .ruibao-1 {
  overflow-wrap: break-word;
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.frame-1 .group-5 {
  background: rgba(117, 189, 115, 0.35);
  position: absolute;
  right: -1px;
  bottom: 171.9px;
  display: flex;
  padding-right: 2.8px;
  width: 101px;
  height: 172.7px;
  box-sizing: border-box;
}
.frame-1 .lebao-1 {
  overflow-wrap: break-word;
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.frame-1 .group-4 {
  background: rgba(117, 189, 115, 0.5);
  position: absolute;
  top: 50%;
  right: -1px;
  translate: 0 -50%;
  display: flex;
  padding-right: 4.4px;
  width: 101px;
  height: 172.7px;
  box-sizing: border-box;
}
.frame-1 .aibao-1 {
  overflow-wrap: break-word;
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.frame-1 .group-3 {
  background: rgba(117, 189, 115, 0.65);
  position: absolute;
  top: 173.7px;
  right: -1px;
  display: flex;
  padding-left: 3.3px;
  width: 101px;
  height: 172.7px;
  box-sizing: border-box;
}
.frame-1 .fubao-1 {
  overflow-wrap: break-word;
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.frame-1 .group-2 {
  background: rgba(117, 189, 115, 0.8);
  position: absolute;
  top: 1px;
  right: -1px;
  display: flex;
  padding-left: 5.1px;
  width: 101px;
  height: 172.7px;
  box-sizing: border-box;
}
.frame-1 .frame-3 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100px;
  height: 861px;
}
.frame-1 {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
