.frame-11 .fu-31 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/fu_31.png') 50% / cover no-repeat;
  width: 110px;
  height: 122px;
}
.frame-11 .home {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  margin-right: 14.5px;
  width: 145.5px;
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-11 .about {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-11 .gallery {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-11 .online {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.19);
  overflow-wrap: break-word;
  font-family: 'Karla';
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.frame-11 .container-2 {
  margin: 47px 0 46px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 568.2px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-11 .header {
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 64.2px 0 25.2px;
  width: 1388.6px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-11 .frame-2 {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(117, 189, 115, 0.4);
  position: relative;
  margin-bottom: 56px;
  display: flex;
  padding: 16px 41.6px 24px 7.8px;
  width: 1440px;
  box-sizing: border-box;
}
.frame-11 .gallery-1 {
  margin: 0 79px 40px 79px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Khula';
  font-weight: 600;
  font-size: 48px;
  color: #000000;
}
.frame-11 .fu-41 {
  background: url('../assets/images/fu_41.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ai-11 {
  background: url('../assets/images/ai_11.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .le-11 {
  background: url('../assets/images/le_11.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .fu-51 {
  background: url('../assets/images/fu_51.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ai-91 {
  background: url('../assets/images/ai_91.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .le-61 {
  background: url('../assets/images/le_61.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ru-71 {
  background: url('../assets/images/ru_71.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .container-1 {
  margin-bottom: 13.2px;
  display: flex;
  flex-direction: row;
  column-gap: 29.8px;
  width: 1276px;
  box-sizing: border-box;
}
.frame-11 .fu-131 {
  background: url('../assets/images/fu_131.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ai-51 {
  background: url('../assets/images/ai_51.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .le-31 {
  background: url('../assets/images/le_31.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ru-61 {
  background: url('../assets/images/ru_61.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .hu-141 {
  background: url('../assets/images/hu_141.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .hu-41 {
  background: url('../assets/images/hu_41.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ru-101 {
  background: url('../assets/images/ru_101.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .container {
  margin-bottom: 13.2px;
  display: flex;
  flex-direction: row;
  column-gap: 29.8px;
  width: 1276px;
  box-sizing: border-box;
}
.frame-11 .fu-81 {
  background: url('../assets/images/fu_81.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ai-161 {
  background: url('../assets/images/ai_161.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .le-41 {
  background: url('../assets/images/le_41.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .fu-111 {
  background: url('../assets/images/fu_111.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ru-121 {
  background: url('../assets/images/ru_121.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .hu-131 {
  background: url('../assets/images/hu_131.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .hu-61 {
  background: url('../assets/images/hu_61.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .container-4 {
  margin-bottom: 13.2px;
  display: flex;
  flex-direction: row;
  column-gap: 29.8px;
  width: 1276px;
  box-sizing: border-box;
}
.frame-11 .ai-81 {
  background: url('../assets/images/ai_81.jpeg') 50% / cover no-repeat;
  margin-right: 30.2px;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ai-71 {
  background: url('../assets/images/ai_71.jpeg') 50% / cover no-repeat;
  margin-right: 29.2px;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .fu-141 {
  background: url('../assets/images/fu_141.jpeg') 50% / cover no-repeat;
  margin-right: 29.2px;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .fu-101 {
  background: url('../assets/images/fu_101.jpeg') 50% / cover no-repeat;
  margin-right: 30.2px;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .le-131 {
  background: url('../assets/images/le_131.jpeg') 50% / cover no-repeat;
  margin-right: 30.2px;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ru-31 {
  background: url('../assets/images/ru_31.jpeg') 50% / cover no-repeat;
  margin-right: 29.2px;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .ru-41 {
  background: url('../assets/images/ru_41.jpeg') 50% / cover no-repeat;
  width: 156.8px;
  height: 156.8px;
}
.frame-11 .container-3 {
  margin-right: 0.2px;
  display: flex;
  flex-direction: row;
  width: 1275.8px;
  box-sizing: border-box;
}
.frame-11 .frame-4 {
  margin: 0 83px 0 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1276px;
  box-sizing: border-box;
}
.frame-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 20.2px;
  width: 1440px;
  box-sizing: border-box;
}
